.contact {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.white-section{
    padding: 4% 20%;
}

.colored-section{
    background-color: #D1BFFF;
    padding: 5% 20%;
    text-align: center;
}

.share-icon{
    margin: 20px 10px;
}

input[type=text],input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 1%; 
    margin-bottom: 1%;
    resize: vertical 
}
  
#subject {
    margin-top: 1%;
    margin-bottom: 1%;
}