.colored-section{
    background-color: #D1BFFF;
    padding: 5% 20%;
}

.white-section {
    background-color: white;
    padding: 5% 20%;
    text-align: center;
}

#logo {
    height: 400px;
}

#projects-section {
    text-align: center;
}

.project-card {
    padding: 3% 2%;
}
