body {
    padding-top: 56px;
}

a {
    color: black;
    margin: 0 10px;
}

a:hover {
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.colored-section{
    background-color: #D1BFFF;
    padding: 5% 20%;
    text-align: center;
}

.white-section {
    background-color: white;
    padding: 5% 20%;
    text-align: center;
}

.about-us-colored {
    background-color: #D1BFFF;
    padding: 5% 15%;
    text-align: left;
}

#logo-alignment {
    text-align: center;
}

#feature-logo {
    max-width: 80%;
    height: auto;
}

#projects-section {
    text-align: center;
}

.project-card {
    padding: 3% 2%;
}

#join-us{
    text-align: center;
    line-height: 2;
}

#footer {
    text-align: center;
}
.share-icon{
    margin: 20px 10px;
}